.header{
    display: flex;
    position: relative;
    align-items: start;
}

.header-button-menu{
    width: 70px;
    height: 70px;
    font-size: 70px;
    padding: 0;
    background: none;
}

.header .h1{
    margin: 0;
    padding-left: 50px;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
}
/* header.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantiene los elementos distribuidos */
    padding: 10px 20px;
}

.h1 {
    margin-left: 40px; /* Aumenta el margen izquierdo para mover el título a la derecha */
    font-size: 2rem;
    color: white;
}
