.registro-funcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    }

.registro-funcion-form{
    box-sizing: border-box;
    padding: 60px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 600px;
    background-color: #001242;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
}

fieldset{
    border: none;
}

label{
    width: 200px;
    margin-right: 20px;
}

.input-text{
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-size: 2rem;
    color: #000022;
}

.registro-funcion-form-nombre{
    display: flex;
    margin-bottom: 20px;
}

.input-text-nombre{
    width: 100%;
}

.registro-funcion-form-fecha{
    display: flex;
    margin-bottom: 20px;
}



.registro-funcion-form-fecha input{
    font-size: 2rem;
    width: 100px;
    height: 52px;
    background-color: #005E7C;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-right: 70px;
}

.registro-funcion-form-horario{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.registro-funcion-form-horario button{
    width: 100px;
    height: 52px;
    margin: 0 40px 0 0;
    padding: 0;
    background-color: #609AAD;
    font-weight: 300;
}

.registro-funcion-form-boleto{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.registro-funcion-form-boleto input{
    width: 170px;
    height: 52px;
}

.registro-funcion-form-duracion{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.registro-funcion-form-duracion input{
    width: 170px;
    height: 52px;
    margin-right: 20px;
}

.registro-funcion-form-submit{
    display: flex;

    position: relative;
    right: -60%;
    width: 300px;
}

.registro-funcion-form-submit button{
    background-color: #420033;
    font-weight: 300;
    text-align: center;
    width: 250px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.registro-funcion-form-submit input{
    width: 250px;
    font-weight: 300;
    height: 60px;
    background-color: #262C3B;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}